/* Home Page Specific Styles */

/* Secondary Navigation
----------------------------------------------- */
.secondary-navigation {
  display: block;
  text-transform: capitalize;
  float: left;
  clear: none;
  padding: 0;
  margin-right: 5%;
  font-weight: lighter;
  font-size: 1rem;
}
.clear-menu .secondary-navigation {
  float: right;
  padding-top: 10px;
}
.secondary-navigation ul {
  list-style: none;
  margin: 0;
}
.secondary-navigation .menu-toggle {
  display: none;
  padding: 0;
}
.secondary-navigation .nav-menu {
  border-bottom: 0;
  display: block;
  clear:both;
  background:none;
}
.secondary-navigation li {
  display: inline-block;
  position: relative;
}

.secondary-navigation li.button {
  border-left: 1px solid #d6d4cf;
  position: absolute;
  top: 0;
  right: 5%;
}
.secondary-navigation a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 12px;
  margin: 0;
  -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
      border-radius: 8px;
}
.secondary-navigation ul li.current-menu-item > a, .secondary-navigation ul > li:hover > a {
  background:#e6e1d8;
  color:#ea6e1f;
}
.secondary-navigation ul li.button:hover > a {background:none !important;}
.secondary-navigation ul ul {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 200px;
  z-index: 200;
  text-align: center;
  background: #333;
  border-radius: 3px;
}
.secondary-navigation ul ul:before {
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #232323;
  content: " ";
}
.secondary-navigation ul ul li {
  border-bottom: solid 1px rgba(255,255,255,.1);
  width: 100%;
}
.secondary-navigation ul ul li:last-child {border-bottom: none;}
.secondary-navigation ul ul a {
  padding: 12px 16px;
  margin: 0;
  font-weight: normal;
  position: relative;
  border-bottom: none;
}
.secondary-navigation ul ul a:before {content:"";}
.secondary-navigation .menu-item-has-children > a,
.secondary-navigation .page_item_has_children > a {
  padding-right: 30px;
}
.secondary-navigation .menu-item-has-children > a:after,
.secondary-navigation .page_item_has_children > a:after {
  -webkit-font-smoothing: antialiased;
  content: "\e806";
  display: inline-block;
  font: normal 13px/1 armagenCustom;
  position: absolute;
  right: 15px;
  top: 10px;
  vertical-align: text-bottom;
}
.secondary-navigation ul li:hover > ul {display: block;}
.secondary-navigation ul ul .menu-item-has-children > a:after,
.secondary-navigation ul ul .page_item_has_children > a:after {
  content: "\e813";
  right: 15px;
  top: 50%;
  margin-top:-7px;
}
.secondary-navigation ul ul ul:before {content: none;}
.secondary-navigation ul ul ul {
  top: 0;
  left:200px;
  width: 200px;
}
.secondary-navigation ul ul a {
  padding: 8px 12px 8px 32px;
}
.secondary-navigation ul ul a:before {
  content:"- ";
}

/* NAV ONLY */
@media (max-width: 849px) {
  .secondary-navigation {
    display: none;
  }
}
/* END NAV */


/* Home Hero Image
----------------------------------------------- */

.home-hero {
  height: 380px;
  background: url(images/home-hero.jpg);
  background-size: cover;
}

.home-hero-title {
  width: 50%;
  margin-left: 15%;
  padding-top: 75px;
}

h2.home-title {
  color: #fff;
  font-style: italic;
  font-weight: 300;
}

/* News & Excerpt Section, under Hero Image on front-page.php
----------------------------------------------------------- */

.one-third {
  width: 33.33%;
  padding-right: 6%;
  float: left;
}

.news-home {
  background:#e6e1d8 url(images/bg_pattern_xy.png) center center;
  position: relative;
  padding-left: 15%;
  padding-right: 15%;
}

.news-home ul li {
  float:left;
  display: block;
  width: 100%;
  min-height: 205px;
  padding: 0 45px;
}

/* Tech Section - Home
----------------------------------------------- */
.mfp-bottom-bar {
  background: #000;
  padding: 20px 15px 15px;
  margin-top: -4px;
  color: #fff !important;
  max-width: 800px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 130%;
}
